<head th:fragment="encabezado(titulo,enlaces)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title th:replace="${titulo}">Título</title>


    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{/webjars/font-awesome/css/all.min.css}" rel="stylesheet">
    <th:block th:replace="${enlaces}"/>
    <script th:src="@{/static/music/music.js}"></script>
    <script th:src="@{/static/Js/ajax.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

</head>