<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recetas</title>
  <link rel="stylesheet" th:href="@{/css/estiloCarta.css}">
</head>
<body>

<div class="container">
  <h1 class="titulo">Recetas más recomendadas</h1>
  <div class="card-container">
    <div th:each="receta, iterStat : ${listaRecetas}" class="recipe-card">
      <div class="card-inner">
        <div class="card-front">
          <h2 th:text="${receta.nombre}">Nombre de la Receta</h2>
        </div>
        <div class="card-back">
          <h3>Preparación:</h3>
          <p th:text="${receta.preparacion}">Preparación de la receta</p>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>