<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link th:href="@{/css/estilo.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
  <div class="card">
    <h3>Lista de recetas</h3>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Ingredientes</th>
          <th>Preparacion</th>

        </thead>
        <tbody>
        <tr th:each="receta : ${listaRecetas}">
          <td th:text="${receta.id}">ID</td>
          <td th:text="${receta.nombre}">Nombre</td>
          <td th:text="${receta.ingredientes}">Ingredientes</td>
          <td th:text="${receta.preparacion}">Preparacion</td>
        </tbody>
      </table>

    </div>
  </div>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>