<!DOCTYPE html>
<html lang="es" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragmentos/head::encabezado(~{::title}, ~{::link})}">
    <title>Login</title>
    <link th:href="@{/css/estiloLogin.css}" rel="stylesheet">
    <link th:href="@{/css/estiloNav.css}" rel="stylesheet">
</head>
<body>
<nav th:replace="~{fragmentos/navmenu::nav-menu}"></nav>
<div class="login-container">

    <h2 th:text="#{login.titulo}">Iniciar Sesión</h2>
    <form sec:authorize="!isAuthenticated()" method="post" th:action="@{/login}">
        <span th:if="${param.error}" th:text="#{login.alerta}"></span>
        <div class="form-group">
            <label for="username" th:text="#{login.usuario}">Usuario:</label>
            <input type="text" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="password" th:text="#{login.clave}">Contraseña:</label>
            <input type="password" id="password" name="password">
        </div>
        <button type="submit" th:text="#{login.submit}">Iniciar Sesión</button>
    </form>
    <h1 sec:authorize="isAuthenticated()" class="display-4">Anda a trabajar <span sec:authentication="name"></span></h1>

</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>